
{% extends 'index.html' %}

{% block title %}查询{%  endblock %}


{% block middlepart %}

    <div class="container">
    <div id="toolbar" class="btn-group">
        <button id="btn_add" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
    </div>
        <table id="table"></table>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="list_id">
                      <div class="form-group">
                          <label for="txt_departmentname">IP地址</label>
                          <input type="text" name="ip_address" class="form-control" id="ip_address" placeholder="IP地址">
                      </div>
                      <div class="form-group">
                          <label for="txt_departmentname">所属组</label>
                          <input type="text" name="group" class="form-control" id="group" placeholder="组信息">
                      </div>
                      <div class="form-group">
                          <label for="txt_parentdepartment">是否存在supervisor</label>
                          <input type="text" name="supervisor" class="form-control" id="supervisor" placeholder="supervisor">
                      </div>
{#                      <div class="form-group">#}
{#                          <label for="txt_departmentlevel">硬盘容量</label>#}
{#                          <input type="text" name="disk" class="form-control" id="disk" placeholder="硬盘容量">#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                          <label for="txt_departmentlevel">CPU个数</label>#}
{#                          <input type="text" name="cpu_nums" class="form-control" id="cpu_nums" placeholder="CPU个数">#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                          <label for="txt_departmentlevel">内存容量</label>#}
{#                          <input type="text" name="mem" class="form-control" id="mem" placeholder="内存容量">#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                          <label for="txt_departmentlevel">系统类型</label>#}
{#                          <input type="text" name="type" class="form-control" id="type" placeholder="系统类型">#}
{#                      </div>#}
{#                      <div class="form-group">#}
{#                          <label for="txt_statu">是否更新</label>#}
{#                          <input type="text" name="txt_statu" class="form-control" id="txt_statu" placeholder="是否更新1或者0">#}
{#                      </div>#}
                    </div>
                     <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                      <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
                     </div>
                </div>
         </div>
    </div>
    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/bootstrap-table.js"></script>
    <!--添加导出数据的按钮-->
    <script src="/static/js/bootstrap-table-export.js"></script>
    <!--添加导出数据-->
    <script src="/static/js/tableExport.js"></script>
    <!--显示中文-->
    <script type="text/javascript" src="/static/js/bootstrap-table-zh-CN.js"></script>
    <!--便捷插件-->
    <script type="text/javascript" src="/static/js/bootstrap-table-editable.js"></script>
    <script type="text/javascript">
        //注册新增按钮的事件
        $("#btn_add").click(function () {
            $('#myModal').modal();
        });
        //var recipe = {};
        //recipe["name"] = $("#txt_statu").val();
        var obj = new Object();
        $("#btn_submit").click(function () {
            $("#list_id").children().each(function(){
                var _name = $(this).children('input').attr('name');
                var id = $(this).children('input').attr('id');
                var value = $(this).children('input').val();
                obj[_name]=value;
                return validator (id,value);
            });
            console.log(obj);
          $.ajax({
              type : "get",
              url : "{% url 'add_data' %}",
              dataType : 'JSON',
              data: obj,
              success: function (data, status) {
                    alert(status);
                }
            });
        });

        function validator(id,value){
            var reg = "";
            if(id==='ip_address'){
                reg = /^(?:(?:2[0-4][0-9]\.)|(?:25[0-5]\.)|(?:1[0-9][0-9]\.)|(?:[1-9][0-9]\.)|(?:[0-9]\.)){3}(?:(?:2[0-5][0-5])|(?:25[0-5])|(?:1[0-9][0-9])|(?:[1-9][0-9])|(?:[0-9]))$/;
                if(!reg.test(value)){
                    alert("ip 格式不对!");
                    return false;
                }
            }

        }
    </script>

<script type="text/javascript">
    // 导出表格配置
    var $table = $('#table');
    $(function () {
        $table.bootstrapTable({
            url: '{% url 'assets_json' %}',  // 请求数据源的路由
            method: 'get',
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
{#            search: true, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大#}
            searchOnEnterKey: true,
            toolbar: '#toolbar', //工具按钮用哪个容器
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            queryParamsType: '',
            strictSearch: false,//设置为 true启用 全匹配搜索，false为模糊搜索
            showColumns: true, //显示内容列下拉框
            showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
    {#                height: 400, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度#}
            uniqueId: "ip", //每一行的唯一标识，一般为主键列
            showToggle: true, //是否显示详细视图和列表视图的切换按钮
            cardView: false, //是否显示详细视图
    {#                detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号#}
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            columns: [{  //定义表头,这个表头必须定义,下边field后边跟的字段名字必须与后端传递的字段名字相同.如:id、name、price 跟后端的字段名id  name price是完全一样的.

                field: 'address',
                title: '地址',
                align: 'center',  //对齐方式，居中
    {#                width: '200px'  // 可以写各种样式#}

            }, {
                field: 'name',
                title: '主机名',
                align: 'center'
            }, {
                field: 'disk_total',
                title: '硬盘容量',
                align: 'center'

            }, {
                field: 'cpu_total',
                title: 'CPU个数',
                align: 'center'

            },{
                field: 'mem_total',
                title: '内存容量',
                align: 'center'

            },{
                field: 'os_type',
                title: '系统类型',
                align: 'center'

            }
{#            ,{#}
{#                title: '操作',#}
{#                field: 'ip',#}
{#                align: 'center',#}
{#                formatter: function (value, row, index) {#}
{#                    var e = '<a href="#" mce_href="#" onclick="edit(\'' + row.ip + '\')">编辑</a> ';  //row.id为每行的id#}
{#                    return e;#}
{#                }#}
{#            }#}
            ]
        });
    })
</script>


{% endblock %}