{% extends 'index.html' %}

{% block title %}Software{%  endblock %}


{% block middlepart %}
    <form class="form-inline" action="{% url 'software_install' %}" method="post">{% csrf_token %}
    <div class="form-group">
      <label class="col-md-1 control-label" for="lunch">Software:</label>
    </div>
    <div class="form-group">
      <select class="selectpicker" multiple title="选择动作" name="action_name">
          {% for key, value in action.iteritems %}
            <option>{{ key }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label class="col-md-1 control-label" for="lunch">Group:</label>
    </div>
    <div class="form-group">
      <select class="selectpicker" multiple title="选择组" name="groupname">
          {% for group in groups %}
            <option>{{ group }}</option>
          {% endfor %}
      </select>
    </div>
    <input class="form-control form-control-lg" type="text" placeholder="参数: {'hosts':'groupname'}" name="vars">
    <button type="submit" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> 执行中...">运行</button>
  </form>
  <div class="container">
	<div class="row">
            {% for k, v in run_all_status.iteritems %}
                <h1>{{ k }}</h1>
            <table class="table">
              <thead class="thead-default">
                <tr>
                  <th>failures</th>
                  <th>skipped</th>
                  <th>changed</th>
                  <th>ok</th>
                  <th>unreachable</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>{{ v.failures }}</td>
                    <td>{{ v.skipped }}</td>
                    <td>{{ v.changed }}</td>
                    <td>{{ v.ok }}</td>
                    <td>{{ v.unreachable }}</td>
                </tr>
              </tbody>
            </table>
            {% endfor %}
            {% for key, value in  run_status.iteritems %}
            <h1>{{ key }}</h1>
            <table class="table">
              <thead class="thead-default">
                <tr>
                  <th>Task_Id</th>
                  <th>Task_Name</th>
                  <th>Task_Status</th>
                </tr>
              </thead>
              <tbody>
                {% for row in value %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td><span class="label label-success">Success</span></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% endfor %}
	</div>
</div>
    <script src="/static/js/jquery.min.js" ></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script>
    var table1 = $('#table'),
        button1 = $('#load');
    $(function () {
        button1.on('click', function() {
            var $this = $(this);
            $this.button('loading');
            $.ajax({
               url: '#',
               success: function() {
                   table1.bootstrapTable('refresh');
                   $this.button('reset');
               },
               error: function(e) {
                   console.log(e.responseText);
               }
            });

        });
    });
    </script>
{% endblock %}